<div class="w-layout-blockcontainer container-small w-container">
  <div class="flex-default">
    <h2 class="heading-style-h1">{{ section.settings.headline | rich_text }}</h2>
    <div class="w-layout-grid lab-grid">
      <div id="w-node-_97b6d905-32e3-df5c-4666-4b9760cb123e-60cb1235" class="about-products">
        {%- if section.settings.column_1_image == nil -%}
          <img loading="lazy" alt="" src="{{ 'lab-tech-1.jpg' | asset_url }}" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, 540.99609375px" srcset="{{ 'lab-tech-1.jpg' | asset_img_url: '500x' }} 500w, {{ 'lab-tech-1.jpg' | asset_url }} 541w" class="tech-image">
        {%- else -%}
          <img loading="lazy" alt="{{ section.settings.column_1_image.alt | escape }}" src="{{ section.settings.column_1_image.src | img_url: 'master' }}" class="tech-image">
        {%- endif -%}
        <h2 class="all-caps">{{ section.settings.column_1_headline }}</h2>
        <div p-add-class="body-small">{{ section.settings.column_1_description | rich_text }}</div>
      </div>

      <div id="w-node-_97b6d905-32e3-df5c-4666-4b9760cb1246-60cb1235" class="about-products">
        {%- if section.settings.column_2_image == nil -%}
          <img loading="lazy" alt="" src="{{ 'lab-tech-2.jpg' | asset_url }}" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, 540px" srcset="{{ 'lab-tech-2.jpg' | asset_img_url: '500x' }} 500w, {{ 'lab-tech-2.jpg' | asset_url }} 540w" class="tech-image">
        {%- else -%}
          <img loading="lazy" alt="{{ section.settings.column_2_image.alt | escape }}" src="{{ section.settings.column_2_image.src | img_url: 'master' }}" class="tech-image">
        {%- endif -%}
        <h2 class="all-caps">{{ section.settings.column_2_headline }}</h2>
        <div p-add-class="body-small">{{ section.settings.column_2_description | rich_text }}</div>
      </div>

      <div id="w-node-_97b6d905-32e3-df5c-4666-4b9760cb124e-60cb1235" class="about-products">
        {%- if section.settings.column_3_image == nil -%}
          <img loading="lazy" alt="" src="{{ 'lab-tech-3.jpg' | asset_url }}" sizes="(max-width: 479px) 93vw, (max-width: 767px) 94vw, 540.99609375px" srcset="{{ 'lab-tech-3.jpg' | asset_img_url: '500x' }} 500w, {{ 'lab-tech-3.jpg' | asset_url }} 541w" class="tech-image">
        {%- else -%}
          <img loading="lazy" alt="{{ section.settings.column_3_image.alt | escape }}" src="{{ section.settings.column_3_image.src | img_url: 'master' }}" class="tech-image">
        {%- endif -%}
        <h2 class="all-caps">{{ section.settings.column_3_headline }}</h2>
        <div p-add-class="body-small">{{ section.settings.column_3_description | rich_text }}</div>
      </div>
    </div>
  </div>
</div>

<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("class", "section-default");
</script>

{% schema %}
{
  "name": "Section - Technologies",
  "tag": "section",
  "class": "section-default",
  "settings": [
    {
      "type": "richtext",
      "id": "headline",
      "label": "Headline",
      "default": "<p>Sample <u>Text</u></p>"
    },
    {
      "type": "image_picker",
      "id": "column_1_image",
      "label": "Column 1 - Image"
    },
    {
      "type": "text",
      "id": "column_1_headline",
      "label": "Column 1 - Headline",
      "default": "Sample Text"
    },
    {
      "type": "richtext",
      "id": "column_1_description",
      "label": "Column 1 - Description",
      "default": "<p>With the EVO series, we present you the top of the evolution chain in Led luminaires for the cultivation of plants.</p>"
    },
    {
      "type": "image_picker",
      "id": "column_2_image",
      "label": "Column 2 - Image"
    },
    {
      "type": "text",
      "id": "column_2_headline",
      "label": "Column 2 - Headline",
      "default": "Sample Text"
    },
    {
      "type": "richtext",
      "id": "column_2_description",
      "label": "Column 2 - Description",
      "default": "<p>Precision Growing with the combination of stone wool growing media, innovative growing tools and personal advice.</p>"
    },
    {
      "type": "image_picker",
      "id": "column_3_image",
      "label": "Column 3 - Image"
    },
    {
      "type": "text",
      "id": "column_3_headline",
      "label": "Column 3 - Headline",
      "default": "Sample Text"
    },
    {
      "type": "richtext",
      "id": "column_3_description",
      "label": "Column 3 - Description",
      "default": "<p>With the EVO series, we present you the top of the evolution chain in Led luminaires for the cultivation of plants.</p>"
    }
  ]
}
{% endschema %}
