<nav class="nav">
    <div class="background-nav"></div>
    <div class="nav-block">
      <div class="main-mobile-nav">
        <div class="mobile-nav-wrapper">
        <!--  <a data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5602" href="#" class="nav-link w-inline-block">
            <div class="nav-text">{{ 'navigation.shop' | t }}</div>
            <div class="icon-nav w-embed"><svg fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5625" y="0.5625" width="34.875" height="34.875" rx="17.4375" stroke="currentColor" stroke-width="1.125"></rect>
                <path d="M19.6358 14.1819L18.8667 14.951L21.3649 17.4546H12.5449V18.5455H21.3649L18.8613 21.0492L19.6358 21.8182L23.454 18.0001L19.6358 14.1819Z" fill="currentColor"></path>
              </svg></div>
          </a>
          <a href="{{ pages["elevia-lab"].url }}" class="nav-link w-inline-block">
            <div class="nav-text">{{ 'navigation.lab' | t }}</div>
          </a> -->
          <a href="{{ pages["about-us"].url }}" class="nav-link w-inline-block">
            <div class="nav-text">{{ 'navigation.about' | t }}</div>
          </a>
          <a href="{{ pages["contact"].url }}" class="nav-link w-inline-block">
            <div class="nav-text">{{ 'navigation.contact' | t }}</div>
          </a>
        </div>
        <div class="nav-footer-wrapper">
        <div class="footer-links-wrapper">
          <a href="mailto:info@elevia.com" class="body-xsmall text-style-caps">info@elevia.com</a>
          <a href="tel:420 123 298 987" class="body-xsmall text-style-caps">+420 123 298 987</a>
        </div>
        <div class="bottom-wrapper">
          <div class="footer-links-wrapper is-nav">
            <!--<a href="#" class="body-xsmall text-style-caps">Facebook</a>-->
            <a href="#" class="body-xsmall text-style-caps">Instagram</a>
          </div>
          <div class="locales-wrapper is-nav w-locales-list mobile">
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  {% assign flag_code = localization.language.iso_code %}
                  {% if flag_code == 'cs' %}
                    {% assign flag_code = 'cz' %}
                  {% endif %}
                  <img class="locale-flag" src="https://cdn.shopify.com/s/files/1/0892/9283/3113/files/{{ flag_code }}.png?v=1737303910" loading="lazy" alt="{{ localization.language.endonym_name }}">
                  <div class="locale-text">
                    {{ localization.language.iso_code | upcase }}
                  </div>
                  <img src="{{ 'chevron-down.svg' | asset_url }}" loading="lazy" alt="Dropdown Icon">
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div role="list" class="w-locales-items">
                    {% for locale in localization.available_languages %}
                      <div role="listitem" class="locale w-locales-item">
                        <a hreflang="{{ locale.iso_code }}" href="{{ locale.root_url }}" 
                          class="locale-link {% if locale.iso_code == localization.language.iso_code %}active-locale{% else %}inactive-locale{% endif %}">
                          {% if locale.iso_code == 'cs' %}
                            <span>CZECH</span>
                          {% elsif locale.iso_code == 'en' %}
                            <span>ENGLISH</span>
                          {% endif %}
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </nav>
              </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="body-xsmall text-style-caps text-color-light-gray">{{ 'rights_reserved' | t }}</div>
      </div>
      </div>
      <!-- <div fs-scrolldisable-element="preserve" class="main-nav">
        <div>
          <a data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae561c" href="#" class="nav-link is-nav w-inline-block">
            <div class="icon-nav is-back w-embed"><svg fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5625" y="0.5625" width="34.875" height="34.875" rx="17.4375" stroke="currentColor" stroke-width="1.125"></rect>
                <path d="M19.6358 14.1819L18.8667 14.951L21.3649 17.4546H12.5449V18.5455H21.3649L18.8613 21.0492L19.6358 21.8182L23.454 18.0001L19.6358 14.1819Z" fill="currentColor"></path>
              </svg></div>
          </a>
          <a data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae561e" href="#" class="nav-link is-nav is-last-level w-inline-block">
            <div class="icon-nav is-back w-embed"><svg fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5625" y="0.5625" width="34.875" height="34.875" rx="17.4375" stroke="currentColor" stroke-width="1.125"></rect>
                <path d="M19.6358 14.1819L18.8667 14.951L21.3649 17.4546H12.5449V18.5455H21.3649L18.8613 21.0492L19.6358 21.8182L23.454 18.0001L19.6358 14.1819Z" fill="currentColor"></path>
              </svg></div>
          </a>
          <div data-current="Tab 1" data-easing="linear" data-duration-in="500" data-duration-out="500" class="w-tabs">
            <div class="tabs-menu w-tab-menu">
              <a data-w-tab="Tab 1" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5622" class="nav-link is-product w-inline-block w-tab-link w--current">
                <div class="nav-text">{{ 'navigation.drops' | t }}</div>
                <div class="icon-nav w-embed"><svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5625" y="0.5625" width="46.875" height="46.875" rx="23.4375" stroke="currentColor" stroke-width="1.125"></rect>
                    <path d="M19.332 23.9987H28.6654M28.6654 23.9987L23.9987 19.332M28.6654 23.9987L23.9987 28.6654" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a data-w-tab="Tab 2" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5626" class="nav-link is-product w-inline-block w-tab-link">
                <div class="nav-text">{{ 'navigation.sprays' | t }}</div>
                <div class="icon-nav w-embed"><svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5625" y="0.5625" width="46.875" height="46.875" rx="23.4375" stroke="currentColor" stroke-width="1.125"></rect>
                    <path d="M19.332 23.9987H28.6654M28.6654 23.9987L23.9987 19.332M28.6654 23.9987L23.9987 28.6654" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a data-w-tab="Tab 3" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae562a" class="nav-link is-product w-inline-block w-tab-link">
                <div class="nav-text">{{ 'navigation.cartridges' | t }}</div>
                <div class="icon-nav w-embed"><svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5625" y="0.5625" width="46.875" height="46.875" rx="23.4375" stroke="currentColor" stroke-width="1.125"></rect>
                    <path d="M19.332 23.9987H28.6654M28.6654 23.9987L23.9987 19.332M28.6654 23.9987L23.9987 28.6654" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a data-w-tab="Tab 4" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae562e" class="nav-link is-product w-inline-block w-tab-link">
                <div class="nav-text">{{ 'navigation.pre_rolls' | t }}</div>
                <div class="icon-nav w-embed"><svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5625" y="0.5625" width="46.875" height="46.875" rx="23.4375" stroke="currentColor" stroke-width="1.125"></rect>
                    <path d="M19.332 23.9987H28.6654M28.6654 23.9987L23.9987 19.332M28.6654 23.9987L23.9987 28.6654" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a data-w-tab="Tab 5" data-w-id="01e9cda9-91f4-76ac-12b9-815e50a2c1ef" class="nav-link is-product w-inline-block w-tab-link">
                <div class="nav-text">{{ 'navigation.buds' | t }}</div>
                <div class="icon-nav w-embed"><svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5625" y="0.5625" width="46.875" height="46.875" rx="23.4375" stroke="currentColor" stroke-width="1.125"></rect>
                    <path d="M19.332 23.9987H28.6654M28.6654 23.9987L23.9987 19.332M28.6654 23.9987L23.9987 28.6654" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
            </div>
            <div class="tabs-content w-tab-content">
              <div data-w-tab="Tab 1" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5633" class="tab _01 w-tab-pane w--tab-active">
                {%- if settings.collection_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_animace_drops_eq_true" -%}{%- endif -%}
              </div>
              <div data-w-tab="Tab 2" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5644" class="tab _02 w-tab-pane">
                {%- if settings.collection_2_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_animace_sprey_eq_true" -%}{%- endif -%}
              </div>
              <div data-w-tab="Tab 3" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5655" class="tab _03 w-tab-pane">
                {%- if settings.collection_3_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_animace_cartridge_eq_true" -%}{%- endif -%}
              </div>
              <div data-w-tab="Tab 4" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5666" class="tab _04 w-tab-pane">
                {%- if settings.collection_4_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_animace_pre_roll_eq_true" -%}{%- endif -%}
              </div>
              <div data-w-tab="Tab 5" data-w-id="a3c2c7b3-61c3-ae4a-8a70-1413ed046d8a" class="tab _04 w-tab-pane">
                {%- if settings.collection_5_home != blank -%}{%- render "markup_for_collection_home" -%}{%- else -%}{%- render "products_where_animace_buds_eq_true" -%}{%- endif -%}
              </div>
            </div>
          </div>
            <div class="nav-footer-wrapper">
              <div class="footer-links-wrapper">
                <a href="#" class="body-xsmall text-style-caps">{{ 'footer.email' | t }}</a>
                <a href="#" class="body-xsmall text-style-caps">{{ 'footer.phone' | t }}</a>
              </div>
              <div class="bottom-wrapper">
                <div class="footer-links-wrapper is-nav">
                  <a href="#" class="body-xsmall text-style-caps">{{ 'footer.facebook' | t }}</a>
                  <a href="#" class="body-xsmall text-style-caps">{{ 'footer.instagram' | t }}</a>
                </div>
                <div class="locales-wrapper is-nav w-locales-list mobile">
                    <div data-hover="false" data-delay="0" class="w-dropdown">
                      <div class="dropdown-toggle w-dropdown-toggle">
                        {% assign flag_code = localization.language.iso_code %}
                        {% if flag_code == 'cs' %}
                          {% assign flag_code = 'cz' %}
                        {% endif %}
                        <img class="locale-flag" src="https://cdn.shopify.com/s/files/1/0892/9283/3113/files/{{ flag_code }}.png?v=1737303910" loading="lazy" alt="{{ localization.language.endonym_name }}">
                        <div class="locale-text">
                          {{ localization.language.iso_code | upcase }}
                        </div>
                        <img src="{{ 'chevron-down.svg' | asset_url }}" loading="lazy" alt="Dropdown Icon">
                      </div>
                      <nav class="dropdown-list w-dropdown-list">
                        <div role="list" class="w-locales-items">
                          {% for locale in localization.available_languages %}
                            <div role="listitem" class="locale w-locales-item">
                              <a hreflang="{{ locale.iso_code }}" href="{{ locale.root_url }}" 
                                class="locale-link {% if locale.iso_code == localization.language.iso_code %}active-locale{% else %}inactive-locale{% endif %}">
                                {% if locale.iso_code == 'cs' %}
                                  <span>CZECH</span>
                                {% elsif locale.iso_code == 'en' %}
                                  <span>ENGLISH</span>
                                {% endif %}
                              </a>
                            </div>
                          {% endfor %}
                        </div>
                      </nav>
                    </div>
                  </div>
              </div>
              <div class="divider"></div>
              <div class="body-xsmall text-style-caps text-color-light-gray">{{ 'rights_reserved' | t }}</div>
            </div>
        </div>
      </div> -->
      <div fs-scrolldisable-element="enable" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5682" class="close-button">
        <div class="icon-16 w-embed"><svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12.5L12.5 3M12.5 12.5L3 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"></path>
          </svg></div>
      </div>
    </div>
    <div class="w-layout-blockcontainer container w-container">
      <div class="nav-wrapper">
        <a href="{{ routes.root_url }}" aria-current="page" class="w-inline-block w--current">
          {% if section.settings.logo_image != blank %}
            <img src="{{ section.settings.logo_image | img_url: 'master' }}" loading="lazy" alt="Logo" class="logo">
          {% else %}
            <img src="{{ 'logo-new.png' | asset_url }}" loading="lazy" alt="Logo" class="logo">
          {% endif %}
        </a>

        <div class="btn-wrapper">
     <!-- <div id="shop" fs-scrolldisable-element="disable" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae5689" class="is-shop">
            <div class="nav-btn">{{ 'navigation.shop' | t }}</div>
          </div>
          <a data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae568c" href="{{ pages["elevia-lab"].url }}" class="nav-link-small w-inline-block">
            <div class="nav-btn">{{ 'navigation.lab' | t }}</div>
            <div class="line-hover"></div>
          </a> -->
          <a href="{{ pages["about-us"].url }}" class="nav-link-small w-inline-block">
            <div class="nav-btn">{{ 'navigation.about' | t }}</div>
            <div class="line-hover"></div>
          </a>
          <a href="{{ pages["contact"].url }}" class="nav-link-small w-inline-block">
            <div class="nav-btn">{{ 'navigation.contact' | t }}</div>
            <div class="line-hover"></div>
          </a>
          <div fs-scrolldisable-element="disable" data-w-id="518ab7e8-44ca-8ff3-aceb-156905ae56cb" class="nav-button"><img src="{{ 'menu.svg' | asset_url }}" loading="lazy" alt="" class="icon-16"></div>
            <div class="locales-wrapper is-nav w-locales-list">
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  {% assign flag_code = localization.language.iso_code %}
                  {% if flag_code == 'cs' %}
                    {% assign flag_code = 'cz' %}
                  {% endif %}
                  <img class="locale-flag" src="https://cdn.shopify.com/s/files/1/0892/9283/3113/files/{{ flag_code }}.png?v=1737303910" loading="lazy" alt="{{ localization.language.endonym_name }}">
                  <div class="locale-text">
                    {{ localization.language.iso_code | upcase }}
                  </div>
                  <img class="dropdown-icon" src="{{ 'chevron-down.svg' | asset_url }}" loading="lazy" alt="Dropdown Icon">
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div role="list" class="w-locales-items">
                    {% for locale in localization.available_languages %}
                      <div role="listitem" class="locale w-locales-item">
                        <a hreflang="{{ locale.iso_code }}" href="{{ locale.root_url }}" 
                          class="locale-link {% if locale.iso_code == localization.language.iso_code %}active-locale{% else %}inactive-locale{% endif %}">
                          {% if locale.iso_code == 'cs' %}
                            <span>CZECH</span>
                          {% elsif locale.iso_code == 'en' %}
                            <span>ENGLISH</span>
                          {% endif %}
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </nav>
              </div>
            </div>
        </div>
      </div>
    </div>
  </nav>